body{
	background-image: url("images/backgr.jpg");
	background-color: #green;
	font-family: Verdana;
}
/*LoginPage*/
#login{
	background: -moz-linear-gradient(top,#FF0E1E,#AF0914);
	border: 2px solid grey;
	padding: 30px;
	margin-left:35em;
	margin-right: 35em;
	
}
/*bossPage*/
.button{
	background: -moz-linear-gradient(top,#FF0E1E,#AF0914);
}
#principal{
	width: 100%;
	margin-top: 150px;
}
#principal td{
	text-align: center;
	font-size: 40px;
	height: 100px;
	padding: 20px;
}
/*StoreFruits*/
#content{
margin-left:20%;
}
#catFruit{
	font-size: 16px;
	width: 40%;
	margin: 10px;
}
#cat{
	border: 2px solid black;
}
#first{
	font-weight: bold;
	font-size: 20px;
}

#second{
	font-weight: bold;
	font-size: 18px;
}


.celda{
	border: 1px solid black;
	padding: 10px;
}